In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)

In [4]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [5]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [6]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [7]:
values = pd.Series([0, 1, 0, 0] * 2)

In [8]:
dim = pd.Series(['apple', 'orange'])

In [9]:
dim

0     apple
1    orange
dtype: object

In [10]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [11]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [12]:
N = len(fruits)

In [13]:
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),#randoint方法从指定的范围内选出指定数量的整数
                   'weight': np.random.uniform(0, 4, size=N)},#类似上边
                  columns=['basket_id', 'fruit', 'count', 'weight'])#指定列及列名

In [14]:
df

   basket_id   fruit  count    weight
0          0   apple     10  3.643200
1          1  orange     10  3.051481
2          2   apple     12  0.795729
3          3   apple     12  2.006492
4          4   apple      4  2.705455
5          5  orange      5  1.052604
6          6   apple     13  0.896897
7          7   apple      4  2.199712

In [15]:
fruit_cat=df['fruit'].astype('category')

In [16]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [17]:
c = fruit_cat.values

In [18]:
type(c)

pandas.core.arrays.categorical.Categorical

In [19]:
type(fruit_cat)

pandas.core.series.Series

In [20]:
df['fruit'] = df['fruit'].astype('category')

In [21]:
df['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [22]:
df

   basket_id   fruit  count    weight
0          0   apple     10  3.643200
1          1  orange     10  3.051481
2          2   apple     12  0.795729
3          3   apple     12  2.006492
4          4   apple      4  2.705455
5          5  orange      5  1.052604
6          6   apple     13  0.896897
7          7   apple      4  2.199712

In [23]:
type(df['fruit'])

pandas.core.series.Series

In [24]:
df['fruit'].dtype

CategoricalDtype(categories=['apple', 'orange'], ordered=False)

In [25]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [26]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

In [27]:
categories = ['foo', 'bar', 'baz']

In [28]:
codes = [0, 1, 2, 0, 0, 1]

In [29]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)

In [30]:
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

In [32]:
ordered_cat = pd.Categorical.from_codes(codes, categories,ordered=True)

In [33]:
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [35]:
pd.Categorical.from_codes

In [36]:
my_cats_2.as_ordered()

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

In [37]:
my_cats_2.as_ordered

<bound method Categorical.as_ordered of [foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]>

In [38]:
np.random.seed(12345)

In [39]:
draws=np.random.randn(1000)

In [40]:
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [41]:
bins=pd.qcut(draws,4)#使用qcut划分包含元素数量相等的四个区间，并用区间替代原始元素

In [42]:
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

In [43]:
bins.codes[:10]

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [44]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])#为区间改名，这样看起来更清楚，也利于生成汇总

In [45]:
bins

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [46]:
pd.qcut

In [47]:
bins.codes[:10]

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [48]:
bins = pd.Series(bins, name='quartile')

In [49]:
results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())

In [50]:
results

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

In [51]:
results = pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index()

In [52]:
results

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

In [53]:
results1 = pd.Series(draws).groupby(bins).agg(['count', 'min', 'max'])
#作为对比，不reset_index的结果

In [54]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [55]:
results1['count']
#results1['quartile'] 会报错，因为result1 中，quartile是作为行的索引出现的，而不是作为列出现

quartile
Q1    250
Q2    250
Q3    250
Q4    250
Name: count, dtype: int64

In [56]:
N=10000000

In [57]:
draws=pd.Series(['foo','bar','baz','qux']*(N//4))

In [58]:
draws

0          foo
1          bar
2          baz
3          qux
4          foo
5          bar
6          baz
7          qux
8          foo
9          bar
10         baz
11         qux
12         foo
13         bar
14         baz
15         qux
16         foo
17         bar
18         baz
19         qux
20         foo
21         bar
22         baz
23         qux
24         foo
25         bar
26         baz
27         qux
28         foo
29         bar
          ...
9999970    baz
9999971    qux
9999972    foo
9999973    bar
9999974    baz
9999975    qux
9999976    foo
9999977    bar
9999978    baz
9999979    qux
9999980    foo
9999981    bar
9999982    baz
9999983    qux
9999984    foo
9999985    bar
9999986    baz
9999987    qux
9999988    foo
9999989    bar
9999990    baz
9999991    qux
9999992    foo
9999993    bar
9999994    baz
9999995    qux
9999996    foo
9999997    bar
9999998    baz
9999999    qux
Length: 10000000, dtype: object

In [59]:
N//4

2500000

In [60]:
N

10000000

In [61]:
labels=pd.Series(['foo','bar','baz','qux']*(N//4))

In [62]:
categories=labels.astype('category')

In [63]:
labels.memory_usage()
#标签的内存使用量

80000080

In [64]:
categories.memory_usage()
#分类的内存使用量

10000272

In [65]:
%time _=labels.astype('category')
#转换分类的时间代价——这是一个一次性的代价，在处理大规模数据的时候，标签转为分类可以大量节省内存

Wall time: 350 ms

In [66]:
s= pd.Series(['a','b','c','d']*2)

In [67]:
cat_s=s.astype('category')

In [68]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [69]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [70]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [71]:
actual_categories = ['a', 'b', 'c', 'd', 'e']

In [72]:
cat_s2 = cat_s.cat.set_categories(actual_categories)
#使用set_categories方法修改categories

In [73]:
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

In [74]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [75]:
cat_s2.value_counts()
#分类集改变了，即使数据没变，相关的统计信息也会变的

d    2
c    2
b    2
a    2
e    0
dtype: int64

In [76]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]

In [77]:
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [78]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

In [79]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [80]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [81]:
pd.get_dummies(cat_s)#pd.get_dummies方法将一维分类数据转换为DF数据

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [82]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,'value': np.arange(12.)})

In [83]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [86]:
g = df.groupby('key').value

In [87]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [88]:
g.transform(lambda x: x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [89]:
g.transform('mean')
#对于内置的聚合函数，可以直接传递函数名

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [90]:
g.transform('max')#每次只能传递一个参数

0      9.0
1     10.0
2     11.0
3      9.0
4     10.0
5     11.0
6      9.0
7     10.0
8     11.0
9      9.0
10    10.0
11    11.0
Name: value, dtype: float64

In [91]:
g.transform(lambda x:x*2)#与apply函数类似，transform函数也会返回Series，长度与输入相等。

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [92]:
g.transform(lambda x: x.rank(ascending=False))#计算降序排名

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [93]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [94]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [95]:
g.apply(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [96]:
%time g.transform('mean')

Wall time: 0 ns

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [97]:

%time g.mean()#内置的聚合函数通常比apply和transform快

Wall time: 1.02 ms

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [98]:
%time normalized = (df['value'] - g.transform('mean')) / g.transform('std')

Wall time: 5.98 ms

In [99]:
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [100]:

%time g.transform(normalize)

Wall time: 2.95 ms

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [101]:
:
N = 15

SyntaxError: invalid syntax (<ipython-input-101-9ba503d29d17>, line 1)

In [102]:
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)

In [103]:
df = pd.DataFrame({'time': times, 'value': np.arange(N)})

In [104]:
df

                       time    value
0       2017-05-20 00:00:00        0
1       2017-05-20 00:01:00        1
2       2017-05-20 00:02:00        2
3       2017-05-20 00:03:00        3
4       2017-05-20 00:04:00        4
5       2017-05-20 00:05:00        5
6       2017-05-20 00:06:00        6
7       2017-05-20 00:07:00        7
8       2017-05-20 00:08:00        8
9       2017-05-20 00:09:00        9
10      2017-05-20 00:10:00       10
11      2017-05-20 00:11:00       11
12      2017-05-20 00:12:00       12
13      2017-05-20 00:13:00       13
14      2017-05-20 00:14:00       14
15      2017-05-20 00:15:00       15
16      2017-05-20 00:16:00       16
17      2017-05-20 00:17:00       17
18      2017-05-20 00:18:00       18
19      2017-05-20 00:19:00       19
20      2017-05-20 00:20:00       20
21      2017-05-20 00:21:00       21
22      2017-05-20 00:22:00       22
23      2017-05-20 00:23:00       23
24      2017-05-20 00:24:00       24
25      2017-05-20 00:25:00       25
26      2017-05-20 00:26:00       26
27      2017-05-20 00:27:00       27
28      2017-05-20 00:28:00       28
29      2017-05-20 00:29:00       29
...                     ...      ...
9999970 2036-05-24 10:10:00  9999970
9999971 2036-05-24 10:11:00  9999971
9999972 2036-05-24 10:12:00  9999972
9999973 2036-05-24 10:13:00  9999973
9999974 2036-05-24 10:14:00  9999974
9999975 2036-05-24 10:15:00  9999975
9999976 2036-05-24 10:16:00  9999976
9999977 2036-05-24 10:17:00  9999977
9999978 2036-05-24 10:18:00  9999978
9999979 2036-05-24 10:19:00  9999979
9999980 2036-05-24 10:20:00  9999980
9999981 2036-05-24 10:21:00  9999981
9999982 2036-05-24 10:22:00  9999982
9999983 2036-05-24 10:23:00  9999983
9999984 2036-05-24 10:24:00  9999984
9999985 2036-05-24 10:25:00  9999985
9999986 2036-05-24 10:26:00  9999986
9999987 2036-05-24 10:27:00  9999987
9999988 2036-05-24 10:28:00  9999988
9999989 2036-05-24 10:29:00  9999989
9999990 2036-05-24 10:30:00  9999990
9999991 2036-05-24 10:31:00  9999991
9999992 2036-05-24 10:32:00  9999992
9999993 2036-05-24 10:33:00  9999993
9999994 2036-05-24 10:34:00  9999994
9999995 2036-05-24 10:35:00  9999995
9999996 2036-05-24 10:36:00  9999996
9999997 2036-05-24 10:37:00  9999997
9999998 2036-05-24 10:38:00  9999998
9999999 2036-05-24 10:39:00  9999999

[10000000 rows x 2 columns]

In [105]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5
2017-05-20 00:15:00      5
2017-05-20 00:20:00      5
2017-05-20 00:25:00      5
2017-05-20 00:30:00      5
2017-05-20 00:35:00      5
2017-05-20 00:40:00      5
2017-05-20 00:45:00      5
2017-05-20 00:50:00      5
2017-05-20 00:55:00      5
2017-05-20 01:00:00      5
2017-05-20 01:05:00      5
2017-05-20 01:10:00      5
2017-05-20 01:15:00      5
2017-05-20 01:20:00      5
2017-05-20 01:25:00      5
2017-05-20 01:30:00      5
2017-05-20 01:35:00      5
2017-05-20 01:40:00      5
2017-05-20 01:45:00      5
2017-05-20 01:50:00      5
2017-05-20 01:55:00      5
2017-05-20 02:00:00      5
2017-05-20 02:05:00      5
2017-05-20 02:10:00      5
2017-05-20 02:15:00      5
2017-05-20 02:20:00      5
2017-05-20 02:25:00      5
...                    ...
2036-05-24 08:10:00      5
2036-05-24 08:15:00      5
2036-05-24 08:20:00      5
2036-05-24 08:25:00      5
2036-05-24 08:30:00      5
2036-05-24 08:35:00      5
2036-05-24 08:40:00      5
2036-05-24 08:45:00      5
2036-05-24 08:50:00      5
2036-05-24 08:55:00      5
2036-05-24 09:00:00      5
2036-05-24 09:05:00      5
2036-05-24 09:10:00      5
2036-05-24 09:15:00      5
2036-05-24 09:20:00      5
2036-05-24 09:25:00      5
2036-05-24 09:30:00      5
2036-05-24 09:35:00      5
2036-05-24 09:40:00      5
2036-05-24 09:45:00      5
2036-05-24 09:50:00      5
2036-05-24 09:55:00      5
2036-05-24 10:00:00      5
2036-05-24 10:05:00      5
2036-05-24 10:10:00      5
2036-05-24 10:15:00      5
2036-05-24 10:20:00      5
2036-05-24 10:25:00      5
2036-05-24 10:30:00      5
2036-05-24 10:35:00      5

[2000000 rows x 1 columns]

In [106]:
df2 = pd.DataFrame({'time': times.repeat(3),'key': np.tile(['a', 'b', 'c'], N),'value': np.arange(N * 3.)})

In [107]:
df2

                        time key       value
0        2017-05-20 00:00:00   a         0.0
1        2017-05-20 00:00:00   b         1.0
2        2017-05-20 00:00:00   c         2.0
3        2017-05-20 00:01:00   a         3.0
4        2017-05-20 00:01:00   b         4.0
5        2017-05-20 00:01:00   c         5.0
6        2017-05-20 00:02:00   a         6.0
7        2017-05-20 00:02:00   b         7.0
8        2017-05-20 00:02:00   c         8.0
9        2017-05-20 00:03:00   a         9.0
10       2017-05-20 00:03:00   b        10.0
11       2017-05-20 00:03:00   c        11.0
12       2017-05-20 00:04:00   a        12.0
13       2017-05-20 00:04:00   b        13.0
14       2017-05-20 00:04:00   c        14.0
15       2017-05-20 00:05:00   a        15.0
16       2017-05-20 00:05:00   b        16.0
17       2017-05-20 00:05:00   c        17.0
18       2017-05-20 00:06:00   a        18.0
19       2017-05-20 00:06:00   b        19.0
20       2017-05-20 00:06:00   c        20.0
21       2017-05-20 00:07:00   a        21.0
22       2017-05-20 00:07:00   b        22.0
23       2017-05-20 00:07:00   c        23.0
24       2017-05-20 00:08:00   a        24.0
25       2017-05-20 00:08:00   b        25.0
26       2017-05-20 00:08:00   c        26.0
27       2017-05-20 00:09:00   a        27.0
28       2017-05-20 00:09:00   b        28.0
29       2017-05-20 00:09:00   c        29.0
...                      ...  ..         ...
29999970 2036-05-24 10:30:00   a  29999970.0
29999971 2036-05-24 10:30:00   b  29999971.0
29999972 2036-05-24 10:30:00   c  29999972.0
29999973 2036-05-24 10:31:00   a  29999973.0
29999974 2036-05-24 10:31:00   b  29999974.0
29999975 2036-05-24 10:31:00   c  29999975.0
29999976 2036-05-24 10:32:00   a  29999976.0
29999977 2036-05-24 10:32:00   b  29999977.0
29999978 2036-05-24 10:32:00   c  29999978.0
29999979 2036-05-24 10:33:00   a  29999979.0
29999980 2036-05-24 10:33:00   b  29999980.0
29999981 2036-05-24 10:33:00   c  29999981.0
29999982 2036-05-24 10:34:00   a  29999982.0
29999983 2036-05-24 10:34:00   b  29999983.0
29999984 2036-05-24 10:34:00   c  29999984.0
29999985 2036-05-24 10:35:00   a  29999985.0
29999986 2036-05-24 10:35:00   b  29999986.0
29999987 2036-05-24 10:35:00   c  29999987.0
29999988 2036-05-24 10:36:00   a  29999988.0
29999989 2036-05-24 10:36:00   b  29999989.0
29999990 2036-05-24 10:36:00   c  29999990.0
29999991 2036-05-24 10:37:00   a  29999991.0
29999992 2036-05-24 10:37:00   b  29999992.0
29999993 2036-05-24 10:37:00   c  29999993.0
29999994 2036-05-24 10:38:00   a  29999994.0
29999995 2036-05-24 10:38:00   b  29999995.0
29999996 2036-05-24 10:38:00   c  29999996.0
29999997 2036-05-24 10:39:00   a  29999997.0
29999998 2036-05-24 10:39:00   b  29999998.0
29999999 2036-05-24 10:39:00   c  29999999.0

[30000000 rows x 3 columns]

In [108]:
time_key = pd.TimeGrouper('5min')

c:\users\zusi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

In [109]:
resampled = (df2.set_index('time').groupby(['key', time_key]) .sum())

In [110]:
resampled

                               value
key time
a   2017-05-20 00:00:00         30.0
    2017-05-20 00:05:00        105.0
    2017-05-20 00:10:00        180.0
    2017-05-20 00:15:00        255.0
    2017-05-20 00:20:00        330.0
    2017-05-20 00:25:00        405.0
    2017-05-20 00:30:00        480.0
    2017-05-20 00:35:00        555.0
    2017-05-20 00:40:00        630.0
    2017-05-20 00:45:00        705.0
    2017-05-20 00:50:00        780.0
    2017-05-20 00:55:00        855.0
    2017-05-20 01:00:00        930.0
    2017-05-20 01:05:00       1005.0
    2017-05-20 01:10:00       1080.0
    2017-05-20 01:15:00       1155.0
    2017-05-20 01:20:00       1230.0
    2017-05-20 01:25:00       1305.0
    2017-05-20 01:30:00       1380.0
    2017-05-20 01:35:00       1455.0
    2017-05-20 01:40:00       1530.0
    2017-05-20 01:45:00       1605.0
    2017-05-20 01:50:00       1680.0
    2017-05-20 01:55:00       1755.0
    2017-05-20 02:00:00       1830.0
    2017-05-20 02:05:00       1905.0
    2017-05-20 02:10:00       1980.0
    2017-05-20 02:15:00       2055.0
    2017-05-20 02:20:00       2130.0
    2017-05-20 02:25:00       2205.0
...                              ...
c   2036-05-24 08:10:00  149997790.0
    2036-05-24 08:15:00  149997865.0
    2036-05-24 08:20:00  149997940.0
    2036-05-24 08:25:00  149998015.0
    2036-05-24 08:30:00  149998090.0
    2036-05-24 08:35:00  149998165.0
    2036-05-24 08:40:00  149998240.0
    2036-05-24 08:45:00  149998315.0
    2036-05-24 08:50:00  149998390.0
    2036-05-24 08:55:00  149998465.0
    2036-05-24 09:00:00  149998540.0
    2036-05-24 09:05:00  149998615.0
    2036-05-24 09:10:00  149998690.0
    2036-05-24 09:15:00  149998765.0
    2036-05-24 09:20:00  149998840.0
    2036-05-24 09:25:00  149998915.0
    2036-05-24 09:30:00  149998990.0
    2036-05-24 09:35:00  149999065.0
    2036-05-24 09:40:00  149999140.0
    2036-05-24 09:45:00  149999215.0
    2036-05-24 09:50:00  149999290.0
    2036-05-24 09:55:00  149999365.0
    2036-05-24 10:00:00  149999440.0
    2036-05-24 10:05:00  149999515.0
    2036-05-24 10:10:00  149999590.0
    2036-05-24 10:15:00  149999665.0
    2036-05-24 10:20:00  149999740.0
    2036-05-24 10:25:00  149999815.0
    2036-05-24 10:30:00  149999890.0
    2036-05-24 10:35:00  149999965.0

[6000000 rows x 1 columns]